body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#move {
    font-size: 3rem;
    margin-bottom: 3rem;
}

#content {
    height: 500px;
    width: 500px;
    border: 1px dashed gray;
}

canvas {
    background-color: #CDC1B4;
    /* background-color: #15a074; */
}